body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.items-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#items-table th, #items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#items-table th {
    background-color: #f4f4f4;
}

.bids-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bids-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bids-table th, #bids-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bids-table th {
    background-color: #f4f4f4;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
