body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.items-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#items-table th, #items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#items-table th {
    background-color: #f4f4f4;
}

.bids-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bids-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bids-table th, #bids-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bids-table th {
    background-color: #f4f4f4;
}

.user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9em;
    background: #f9f9f9;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.user-info h3 {
    margin: 0;
    color: #333;
    font-weight: normal;
}

#logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 8px;
    margin-left: 10px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}


button {
    background-color: #007BFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

